@{
}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs tab-basic  mt-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase active" id="user-profile-info-tab" data-toggle="tab" href="#user-profile-info" role="tab" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="user-profile-jd-tab" data-toggle="tab" href="#user-profile-jd" role="tab" aria-selected="false">Job Description</a>
                    </li>


                </ul>

                <div class="tab-content tab-content-basic">

                    <div class="tab-pane fade show active" id="user-profile-info" role="tabpanel" aria-labelledby="critical-competency-tab">
                        <h4 class="card-title">Ticket Details</h4>
                        <p class="card-description">
                            Support ticket
                        </p>
                        <div class="grid-margin stretch-card">
                            <div class="row justify-content-md-center">

                                <form class="forms-sample">

                                    <div class="form-group">
                                        <label for="exampleInputUsername1">
                                            Department
                                        </label>
                                        <select class="form-control" id="create-ticket-department">
                                            <option>Learning & Development</option>
                                            <option>HR</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">
                                            Category
                                        </label>
                                        <select class="form-control" id="create-ticket-category">
                                            <option>Course Development</option>
                                            <option>System Development</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">
                                            Sub-Category
                                        </label>
                                        <select class="form-control" id="create-ticket-sub-category">
                                            <option>Data Extraction</option>
                                            <option>CMS Issue</option>
                                            <option>Migration</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">
                                            Priority
                                        </label>
                                        <select class="form-control" id="create-ticket-sub-category">
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                            <option>Critical</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">
                                            Status
                                        </label>
                                        <select class="form-control" id="create-ticket-sub-category">
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                            <option>Critical</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Title</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Description <small class="card-description">(Optional)</small></label>
                                        <textarea class="form-control" rows="4"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputUsername1">
                                            Assign to
                                        </label>
                                        <select class="form-control" id="create-ticket-sub-category">
                                            <option>Low</option>
                                            <option>Medium</option>
                                            <option>High</option>
                                            <option>Critical</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="user-profile-jd" role="tabpanel" aria-labelledby="user-profile-jd">
                        <div class="row justify-content-md-center">
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs tab-basic  mt-5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase active" id="ticket-details" data-toggle="tab" href="#tab-ticket-details" role="tab" aria-selected="true">Ticket Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="ticket-work-logs" data-toggle="tab" href="#tab-work-logs" role="tab" aria-selected="false">Work Logs</a>
                    </li>
                </ul>
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="#tab-ticket-details" role="tabpanel" aria-labelledby="tab-ticket-details">

                        <h4 class="card-title">Ticket Details</h4>
                        <p class="card-description">
                            Support ticket
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    Department
                                </label>
                                <select class="form-control" id="create-ticket-department">
                                    <option>Learning & Development</option>
                                    <option>HR</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    Category
                                </label>
                                <select class="form-control" id="create-ticket-category">
                                    <option>Course Development</option>
                                    <option>System Development</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    Sub-Category
                                </label>
                                <select class="form-control" id="create-ticket-sub-category">
                                    <option>Data Extraction</option>
                                    <option>CMS Issue</option>
                                    <option>Migration</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    Priority
                                </label>
                                <select class="form-control" id="create-ticket-sub-category">
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                    <option>Critical</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    Status
                                </label>
                                <select class="form-control" id="create-ticket-sub-category">
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                    <option>Critical</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Title</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Description <small class="card-description">(Optional)</small></label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    Assign to
                                </label>
                                <select class="form-control" id="create-ticket-sub-category">
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                    <option>Critical</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>


                    <div class="tab-pane fade" id="tab-work-logs" role="tabpanel" aria-labelledby="tab-work-logs">
                        <h4 class="card-title">Logs</h4>
                        <p class="card-description">
                            Work logs
                        </p>
                        <div class="table-responsive">
                            <table class="display expandable-table" id="work-log-table" width="100%">
                                <thead>
                                    <tr>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Log</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oct. 10, 2023 8:00 AM</td>
                                        <td>Oct. 10, 2023 12:00 PM</td>
                                        <td>Researching about where the dinosaurs can be found</td>
                                        <td>
                                            <i class="mdi mdi-delete"></i>
                                            <i class="mdi mdi-lead-pencil"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>
        $("#create-ticket-category").select2();
        $('#create-ticket-sub-category').select2();
        $('#create-ticket-department').select2();
        $('#work-log-table').DataTable();
    </script>
}
